.title-section 
    .title-section__inner.center
        h2.title.title-section__title #{title.title}
        p.title-section__text #{title.text}
        if title.link
            a(href="#").title-section__link #{title.link}