.block-text {
    @media screen and (max-width: $tablet) {
        margin-bottom: 0;
        margin-left: -20px;
        margin-right: -20px;
    }
    &__first,
    &:last-of-type {
        @media screen and (max-width: $tablet) {
            margin-bottom: 50px;
        } 
    }

    &__inner {
        display: flex;
        @media screen and (max-width: $tablet) {
            flex-direction: column;
            align-items:center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        width: 100%;
        padding-right: 55px;
        padding-left: 55px;
        @media screen and (max-width: $tablet) {
            max-width: 100%;
            margin-bottom: 50px;
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    &__content-title {
        @media screen and (max-width: $mobile) {
            max-width: 319px;
        }
    }

    &__text {
        line-height: 162.5%;
        letter-spacing: 0.8px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__content-img {
        width: 50%;
        object-fit: cover;
        flex-shrink: 0;
        @media screen and (max-width: $tablet) {
            margin-bottom: 50px;
            width: 100%;
        }
    }

    .left {
        .block-text__content {
            order: 1;
        }
    }
}