@import '../../../node_modules/swiper/swiper.min';

.slider {
  margin-bottom: 157px;
  @media screen and (max-width: $tablet) {
    margin-left: -20px;
    margin-right: -20px;
  }
  &__wrap {
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    @media screen and (max-width: $tablet) {
      padding-left: 35px;
      padding-right: 35px;
    }
  }

  &__main {
    position: unset;
  }

  &__title {
    margin-bottom: 50px;
    @media screen and (max-width: $mobile) { 
      max-width: 319px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__main-img {
    height: 305px;
    border: 1px solid $gray;
    margin-bottom: 18px;
  }
  &__main-image  {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__main-text {
    color:$black;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(calc(-50% - 18px));
    left: 20px;
    cursor: pointer;
    @media screen and (max-width: $tablet) {
      width: 25px;
      height: 25px;
      left: 8px;
    }
  }

  .swiper-button-next {
    left: unset;
    right: 20px;
    @media screen and (max-width: $tablet) {
      right: 8px;
    }
  }

  .swiper-button-disabled {
    cursor: auto;
    opacity: 0.5;
  }

}
